button {
    display: inline-block ;   
    background-color: var(--red) ;
    margin-top: 10px;
    padding: 20px;
    width: 500px;
    color: var(--white);
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    margin: 5px;
    border-color: #fff;
   }
   
   button:hover {
       background-color: transparent
   }

   .hos_1 {
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%) ;
    max-width: 80%;
    min-width: 752px;
   }